<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>{{title | default("Inicio")}}</title>
  </head>
  <body>
    <main class="container">
      {{{body}}}  {{!-- Contenido dinámico--}}
    </main>
  </body>
</html>
